body {
  background-image:url('http://localhost/app/assets/images/12_e.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

.text{
    margin-top: 100px;
    margin-left: 400px;
}

.button_c{
  /*text-align:right;*/
  margin-right: 250px;
}
div.button_c.form-group {
  max-width: 200px;
}
div.dashboardnewform {
  margin-left: 200px;
}
div.LeftSide {
  float:left;
  width: 45%;
}
div.RightSide {
  float:right;
  width: 55%;
}
p.description {
  font-size: 50px;
}
.btn{
  background-color:#cc6600;
  color:white;
}
