<!--

  이 파일은 모든 곳에서 쓰일 수 있는
  HTML문서의 HEAD 파일입니다.
  따라서 일일히 문서마다 head 태그를 써줄 필요가 없습니다.

  만약 프로젝트 내 공통적으로 적용해야할 사항이 있다면
  이곳에 추가하면 됩니다.
  링크는 css먼저하고 그다음 js를 인클루드해주세요

  참고로 부트스트랩은 제이쿼리를 필요로하기 때문에
  먼저 인클루드 해줬어요

-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 캐쉬없앰 -->
<meta http-ｅquiv="pragma" content="no-cache">
<meta http-ｅquiv="cache-control" content="no-cache">
<meta http-ｅquiv="expires" content="-1">


<!-- <link href="/healingCamp/assets/stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
<script src="/healingCamp/assets/javascripts/jquery.js"></script>
<script src="/healingCamp/assets/javascripts/bootstrap.js"></script> -->


<!-- CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<title>HealingCamp</title>
